Django==2.2.27
django-debug-toolbar==1.11
django-formtools==2.1
django-js-asset==1.2.2
django-mdeditor==0.1.13
django-nine==0.2.2
django-notifications-hq==1.5.0
django-reversion==3.0.3
djangorestframework==3.9.4
# the missing compatibility layer between Python 2 and Python 3
future==0.17.1
httplib2==0.12.1
jsonfield==2.0.2
Markdown==3.1
python-dateutil==2.8.0
python-memcached==1.59
PyYAML==5.1.2